@import "tailwindcss";

:root {
  --background: #050a06;
}

@theme {
  /* Override the default sans-serif font with Inter */
  --font-sans:
    var(--font-inter), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* Create a custom utility class 'font-outfit' for headings, logos, etc. */
  --font-outfit: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;

  --color-background: var(--background);
  --color-text-main: #e2e8f0;
  --color-primary: #03a062;
  --color-accent: #00ff66;
}

/* Base layer for global HTML tag styling */
@layer base {
  body {
    @apply bg-background;
  }

  h1 {
    @apply text-4xl font-bold text-primary text-center;
  }

  h2 {
    @apply text-2xl font-bold text-primary;
  }

  h3 {
    @apply font-bold text-text-main;
  }

  p {
    @apply leading-relaxed text-text-main;
  }
}
